nav {

  ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 50px;
    list-style: none;
  }

  li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}